---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import heroImage from "@images/hero-image.avif";
import defImage from "@images/define-image.avif";
---

<MainLayout>

  <HeroSection
    title=`<span class="text-yellow-500 dark:text-yellow-400">The ultimate opportunity platform for</span> <span class="text-white-500 dark:text-white-400">you</span>`
    src={defImage}
    alt = "Youdemonia definition"
    primaryBtn="Try YouConnect"
    primaryBtnURL="https://youdemonia-table.vercel.app/"
  />

  <FeaturesGeneral
    src={heroImage}
    alt="YouConnect Table"
  />

  <TestimonialsSection
    title="Our numbers"
    subTitle="At youdemonia, we strive to serve our communities."
    statistics={[
      {
        count: "Num 1",
        description:
          "Description 1",
      },
      {
        count: "Num 2",
        description:
          "Description 2",
      },
      {
        count: "Num 3",
        description:
          "Description 3",
      },
      {
        count: "Num 4",
        description: "Description 4",
      },
    ]}
  />

</MainLayout>
