---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.avif";
import defImage from "@images/define-image.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";
---

<MainLayout>

  <HeroSection
    title=`<span class="text-yellow-500 dark:text-yellow-400">The ultimate opportunity platform for</span> <span class="text-white-500 dark:text-white-400">you</span>`
    src={defImage}
    alt = "Youdemonia definition"
    primaryBtn="Try YouConnect"
    primaryBtnURL="https://youdemonia-table.vercel.app/"
  />

  <FeaturesGeneral
    src={heroImage}
    alt="YouConnect Table"
  />

  <TestimonialsSection
    title="Our numbers"
    subTitle="At youdemonia, we strive to serve our communities."
    statistics={[
      {
        count: "Num 1",
        description:
          "Description 1",
      },
      {
        count: "Num 2",
        description:
          "Description 2",
      },
      {
        count: "Num 3",
        description:
          "Description 3",
      },
      {
        count: "Num 4",
        description: "Description 4",
      },
    ]}
  />

</MainLayout>
