/* Dark mode colors. */
:root {
    --border: hsla(var(--border-neutral), .4);
    --backdrop-color: #272727cc;
    --sl-color-accent: #ff801f;
    --sl-color-accent-high: #ffa057;
    --sl-color-accent-low: #562800;
    --sl-color-black: #181818;
    --sl-color-gray-1: #eee;
    --sl-color-gray-2: #c2c2c2;
    --sl-color-gray-3: #8b8b8b;
    --sl-color-gray-4: #585858;
    --sl-color-gray-5: #383838;
    --sl-color-gray-6: #272727;
    --sl-color-white: #fff;
    --list-marker-color: #7f22ce;
    --border-neutral: 0, 0%, 25.1%;
}

/* Light mode colors. */
:root[data-theme="light"] {
    --border: hsla(var(--border-yellow), .4);
    --backdrop-color: #f6f6f699;
    --sl-color-accent: #b73d00;
    --sl-color-accent-high: #562800;
    --sl-color-accent-low: #ffa057;
    --sl-color-black: #fff;
    --sl-color-gray-1: #272727;
    --sl-color-gray-2: #383838;
    --sl-color-gray-3: #585858;
    --sl-color-gray-4: #8b8b8b;
    --sl-color-gray-5: #c2c2c2;
    --sl-color-gray-6: #eee;
    --sl-color-gray-7: #f6f6f6;
    --sl-color-white: #181818;
    --list-marker-color: #7f22ce;
    --border-yellow: 54.9, 96.7%, 88%;

    --sl-color-pink-1: #ffd1dc;
    --sl-color-pink-2: #ffccd5;
    --sl-color-pink-3: #ffb3c1;
    --sl-color-pink-4: #ff99ac;
    --sl-color-pink-5: #ff7b9c;
    --sl-color-pink-6: #ff4d6d;

    --sl-color-green-accent: #a8e6a2; /* Light green */
    --list-marker-color: var(--sl-color-green-accent);
}

header {
    background-color: var(--backdrop-color) !important; /* Light pink */
}

header.header {
    background-color: var(--backdrop-color) !important; /* Light pink */
}

header > div:first-of-type {
    background-color: var(--backdrop-color) !important; /* Light pink */
}

.sl-link-button.primary:hover {
    background-color: var(--sl-color-green-accent); /* Light green */
}
