/* Dark mode colors. */
:root {
    --primary-button-hover: #a8e6a2; /* Light green */
    --backdrop-color: #ffd1dc; /* Light pink */

    --sl-color-pink-1: #fff0f5;
    --sl-color-pink-2: #ffe4e9;
    --sl-color-pink-3: #ffccd5;
    --sl-color-pink-4: #ffb3c1;
    --sl-color-pink-5: #ff99ac;
    --sl-color-pink-6: #ff7b9c;

    --sl-color-green-accent: #a8e6a2; /* Light green */
}

/* Light mode colors. */
:root[data-theme='light'] {
    --primary-button-hover: #a8e6a2; /* Light green */
    --backdrop-color: #ffe4e9; /* Softer light pink */

    --sl-color-pink-1: #ffd1dc;
    --sl-color-pink-2: #ffccd5;
    --sl-color-pink-3: #ffb3c1;
    --sl-color-pink-4: #ff99ac;
    --sl-color-pink-5: #ff7b9c;
    --sl-color-pink-6: #ff4d6d;

    --sl-color-green-accent: #a8e6a2; /* Light green */
}

.sl-link-button.primary:hover {
    background-color: var(--primary-button-hover);
}
